<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chess</title>
    <!-- Toastify js -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstarp -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/StyleSheets/style.css">
    <link rel="stylesheet" href="/StyleSheets/ToggleBtn.css">
    <link rel="stylesheet" href="/StyleSheets/chatCard.css">
    <link rel="stylesheet" href="/StyleSheets/chatIcon.css">
    <link rel="stylesheet" href="/StyleSheets/timer.css">
</head>

<body>


    <header>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" id="themeDropdownButton" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Theme
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Default</a></li>
                <li><a class="dropdown-item" href="#">Black</a></li>
                <li><a class="dropdown-item" href="#">Blue</a></li>
                <li><a class="dropdown-item" href="#">Green</a></li>
            </ul>
        </div>



        <label class="switch">
            <input id="input" type="checkbox" onchange="handleDarkMode()" />
            <div class="slider round">
                <div class="sun-moon">
                    <svg id="moon-dot-1" class="moon-dot" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="moon-dot-2" class="moon-dot" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="moon-dot-3" class="moon-dot" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="light-ray-1" class="light-ray" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="light-ray-2" class="light-ray" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="light-ray-3" class="light-ray" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>

                    <svg id="cloud-1" class="cloud-dark" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="cloud-2" class="cloud-dark" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="cloud-3" class="cloud-dark" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="cloud-4" class="cloud-light" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="cloud-5" class="cloud-light" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                    <svg id="cloud-6" class="cloud-light" viewBox="0 0 100 100">
                        <circle cx="50" cy="50" r="50"></circle>
                    </svg>
                </div>
                <div class="stars">
                    <svg id="star-1" class="star" viewBox="0 0 20 20">
                        <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z">
                        </path>
                    </svg>
                    <svg id="star-2" class="star" viewBox="0 0 20 20">
                        <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z">
                        </path>
                    </svg>
                    <svg id="star-3" class="star" viewBox="0 0 20 20">
                        <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z">
                        </path>
                    </svg>
                    <svg id="star-4" class="star" viewBox="0 0 20 20">
                        <path
                            d="M 0 10 C 10 10,10 10 ,0 10 C 10 10 , 10 10 , 10 20 C 10 10 , 10 10 , 20 10 C 10 10 , 10 10 , 10 0 C 10 10,10 10 ,0 10 Z">
                        </path>
                    </svg>
                </div>
            </div>
        </label>
    </header>
    <main>
        <svg aria-label="loader being flipped clockwise and circled by three white curves fading in and out" role="img"
            height="56px" width="56px" viewBox="0 0 56 56" class="loader">
            <clipPath id="sand-mound-top">
                <path
                    d="M 14.613 13.087 C 15.814 12.059 19.3 8.039 20.3 6.539 C 21.5 4.789 21.5 2.039 21.5 2.039 L 3 2.039 C 3 2.039 3 4.789 4.2 6.539 C 5.2 8.039 8.686 12.059 9.887 13.087 C 11 14.039 12.25 14.039 12.25 14.039 C 12.25 14.039 13.5 14.039 14.613 13.087 Z"
                    class="loader__sand-mound-top"></path>
            </clipPath>
            <clipPath id="sand-mound-bottom">
                <path
                    d="M 14.613 20.452 C 15.814 21.48 19.3 25.5 20.3 27 C 21.5 28.75 21.5 31.5 21.5 31.5 L 3 31.5 C 3 31.5 3 28.75 4.2 27 C 5.2 25.5 8.686 21.48 9.887 20.452 C 11 19.5 12.25 19.5 12.25 19.5 C 12.25 19.5 13.5 19.5 14.613 20.452 Z"
                    class="loader__sand-mound-bottom"></path>
            </clipPath>
            <g transform="translate(2,2)">
                <g transform="rotate(-90,26,26)" stroke-linecap="round" stroke-dashoffset="153.94"
                    stroke-dasharray="153.94 153.94" stroke="hsl(0,0%,100%)" fill="none">
                    <circle transform="rotate(0,26,26)" r="24.5" cy="26" cx="26" stroke-width="2.5"
                        class="loader__motion-thick"></circle>
                    <circle transform="rotate(90,26,26)" r="24.5" cy="26" cx="26" stroke-width="1.75"
                        class="loader__motion-medium"></circle>
                    <circle transform="rotate(180,26,26)" r="24.5" cy="26" cx="26" stroke-width="1"
                        class="loader__motion-thin"></circle>
                </g>
                <g transform="translate(13.75,9.25)" class="loader__model">
                    <path
                        d="M 1.5 2 L 23 2 C 23 2 22.5 8.5 19 12 C 16 15.5 13.5 13.5 13.5 16.75 C 13.5 20 16 18 19 21.5 C 22.5 25 23 31.5 23 31.5 L 1.5 31.5 C 1.5 31.5 2 25 5.5 21.5 C 8.5 18 11 20 11 16.75 C 11 13.5 8.5 15.5 5.5 12 C 2 8.5 1.5 2 1.5 2 Z"
                        fill="hsl(var(--hue),90%,85%)"></path>

                    <g stroke-linecap="round" stroke="hsl(35,90%,90%)">
                        <line y2="20.75" x2="12" y1="15.75" x1="12" stroke-dasharray="0.25 33.75" stroke-width="1"
                            class="loader__sand-grain-left"></line>
                        <line y2="21.75" x2="12.5" y1="16.75" x1="12.5" stroke-dasharray="0.25 33.75" stroke-width="1"
                            class="loader__sand-grain-right"></line>
                        <line y2="31.5" x2="12.25" y1="18" x1="12.25" stroke-dasharray="0.5 107.5" stroke-width="1"
                            class="loader__sand-drop"></line>
                        <line y2="31.5" x2="12.25" y1="14.75" x1="12.25" stroke-dasharray="54 54" stroke-width="1.5"
                            class="loader__sand-fill"></line>
                        <line y2="31.5" x2="12" y1="16" x1="12" stroke-dasharray="1 107" stroke-width="1"
                            stroke="hsl(35,90%,83%)" class="loader__sand-line-left"></line>
                        <line y2="31.5" x2="12.5" y1="16" x1="12.5" stroke-dasharray="12 96" stroke-width="1"
                            stroke="hsl(35,90%,83%)" class="loader__sand-line-right">
                        </line>

                        <g stroke-width="0" fill="hsl(35,90%,90%)">
                            <path
                                d="M 12.25 15 L 15.392 13.486 C 21.737 11.168 22.5 2 22.5 2 L 2 2.013 C 2 2.013 2.753 11.046 9.009 13.438 L 12.25 15 Z"
                                clip-path="url(#sand-mound-top)"></path>
                            <path
                                d="M 12.25 18.5 L 15.392 20.014 C 21.737 22.332 22.5 31.5 22.5 31.5 L 2 31.487 C 2 31.487 2.753 22.454 9.009 20.062 Z"
                                clip-path="url(#sand-mound-bottom)"></path>
                        </g>
                    </g>

                    <g stroke-width="2" stroke-linecap="round" opacity="0.7" fill="none">
                        <path
                            d="M 19.437 3.421 C 19.437 3.421 19.671 6.454 17.914 8.846 C 16.157 11.238 14.5 11.5 14.5 11.5"
                            stroke="hsl(0,0%,100%)" class="loader__glare-top"></path>
                        <path transform="rotate(180,12.25,16.75)"
                            d="M 19.437 3.421 C 19.437 3.421 19.671 6.454 17.914 8.846 C 16.157 11.238 14.5 11.5 14.5 11.5"
                            stroke="hsla(0,0%,100%,0)" class="loader__glare-bottom"></path>
                    </g>

                    <rect height="2" width="24.5" fill="hsl(var(--hue),90%,50%)"></rect>
                    <rect height="1" width="19.5" y="0.5" x="2.5" ry="0.5" rx="0.5" fill="hsl(var(--hue),90%,57.5%)">
                    </rect>
                    <rect height="2" width="24.5" y="31.5" fill="hsl(var(--hue),90%,50%)"></rect>
                    <rect height="1" width="19.5" y="32" x="2.5" ry="0.5" rx="0.5" fill="hsl(var(--hue),90%,57.5%)">
                    </rect>
                </g>
            </g>
        </svg>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-evenly align-items-center">
                        <div class="player">
                            You are playing as
                            <span id="playerColor"></span>
                        </div>
                    </div>
                    <!-- Timer -->
                    <div class="board">
                    </div>
                </div>
            </div>
        </div>
        <!-- Chat Modal -->
        <ul data-bs-toggle="modal" data-bs-target="#exampleModal" id="chatIcon" onclick="removeNotification()">
            <li style="--i:#56CCF2;--j:#2F80ED;">
                <span class="icon">💬</span>
            </li>
        </ul>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="img-avatar"></div>
                        <div class="text-chat">Chat</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="card-container">
                            <div class="card-body">
                                <div class="messages-container" id="messages-container">
                                </div>
                                <div class="message-input">
                                    <form action="/chat" method="POST" id="chatForm">
                                        <textarea placeholder="Type your message here" id="chatInput" name="message"
                                            class="message-send"></textarea>
                                        <button type="submit" class="button-send">Send</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>


</body>
<!-- Bootstrap CDN -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js"></script>
<!-- Toastify CDN -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<!-- Chess CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
<!-- Chess Socket IO -->
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js"
    integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+"
    crossorigin="anonymous"></script>
<!-- Custom JS -->
<script src="/Javascripts/chessGame.js"></script>

</html>